html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0; 
}

* {
  user-select: none;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

html {
  background: rgba(190, 216, 160, 0.25);
}
html.dark {
  background: #121212 !important;
}